<div class="mx-auto mt-8 mb-10 w-full" fxLayout="column" fxLayoutAlign="center">
    <mat-card class="mx-auto" *ngIf="cart.items.length">
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="mat-elevetaion-z8 w-full">
                <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef>Product</th>
                    <td mat-cell *matCellDef="let element">
                        <p>{{element.product}}</p>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <button mat-raised-button color="primary" routerLink="/home">Continue Shopping</button>
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">
                        <p class="truncate max-w-xs">{{element.name}}</p>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Price</th>
                    <td mat-cell *matCellDef="let element">
                        <p class="truncate max-w-xs">{{element.price}} RON</p>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                    <td mat-cell *matCellDef="let element" class="quantity-cell">
                        <button 
                            (click)="onRemoveQuantity(element)"
                            mat-mini-fab color="warn">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <span class="quantity-display">{{element.quantity}}</span>
                        <button 
                            (click)="onAddQuantity(element)"
                            mat-mini-fab color="primary">
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>Total</th>
                    <td mat-cell *matCellDef="let element">
                        <p class="truncate max-w-xs">{{ element.quantity * element.price }} RON </p>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <span class="font-bold py-5 block">
                            {{getTotal(cart.items)}}
                        </span>
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>
                        <button mat-raised-button color="warn" class="float-right" (click)="onClearCart()">
                            Clear All
                        </button>
                    </th>
        
                    <td mat-cell *matCellDef="let element">
                        <button mat-mini-fab color="warn" class="float-right" (click)="onRemoveCart(element)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <button (click)="onCheckout()" mat-raised-button color="primary" class="float-right">
                            Proceed To Checkout 
                        </button>
                    </td>
                </ng-container>
        
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
        </div>
    </mat-card>
    <mat-card *ngIf="!cart.items.length">
        <p>
            Your cart is empty.
            <button mat-raised-button color="primary" routerLink="/home">Start Shopping</button>
        </p>
    </mat-card>
</div>
