.quantity-cell {
    display: flex;
    align-items: center;
    padding: 8px;
}

@media screen and (max-width: 730px) {
    .quantity-cell {
        padding: 18px;
    }
}
.quantity-display {
    font-size: 1.2rem;
    margin: 0 12px;
}

button[mat-mini-fab] {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-container {
    overflow-x: auto;
}
