
<div class="flex">
    <button mat-raised-button color="primary" routerLink="/home">
        Home
    </button>
    
    <input type="text" [(ngModel)]="newCartItemName" placeholder="Enter item name" />
    <input type="text" [(ngModel)]="newPrice" placeholder="Enter price" />
    <input type="text" [(ngModel)]="newDescription" placeholder="Enter description" />
    
    <button mat-raised-button color="primary" (click)="createProduct()">Add Item to Cart</button>

    <button mat-raised-button color="primary" (click)="deleteAllProducts()">Delete all Products</button>
</div>

